/* stylelint-disable */

body {
  font-size: var(--sk-text-base-size);
  font-family: var(--sk-font-secondary);
  color: var(--sk-color-text);
  font-weight: 400;
  line-height: var(--sk-line-height--body);

  &.single {
    color: var(--sk-color-primary);
    line-height: var(--sk-line-height-single--body);
    font-size: var(--sk-text--single);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.sk-text--3xl,
.sk-text--h1,
.sk-text--h2,
.sk-text--h3,
.sk-text--h4,
.sk-text--h5,
.sk-text--h6,
.sk-text--2xs {
  color: var(--sk-color-text-heading);
  font-family: var(--sk-font-primary);
  font-weight: 600;

  .single &:not(.hero-about-title) {
    color: var(--sk-color-primary);
  }

  .wp-block-group &,
  .content-wrapper > & {
    font-weight: 700;
    margin-bottom: 20px;

    @include breakpoint-down(sm) {
      margin-bottom: 14px;
    }
  }

  .wp-block-group > &,
  .content-wrapper > & {
    color: var(--sk-color-primary);
  }
}

/* text size */
.sk-text--h1-up {
  font-size: var(--sk-text--h1-up);
}

h1,
.sk-text--h1 {
  font-size: var(--sk-text--h1);
  color: var(--sk-color-text);
  line-height: var(--sk-line-height--h1);

  .single &:not(.hero-about-title) {
    font-size: var(--sk-text-single--h1);
    line-height: var(--sk-line-height-single--h1);
  }
}

h2,
.sk-text--h2 {
  font-size: var(--sk-text--h2);
  color: var(--sk-color-text);
  line-height: var(--sk-line-height--h2);

  .single & {
    font-size: var(--sk-text-single--h2);
    line-height: var(--sk-line-height-single--h2);
  }

  .home & {
    letter-spacing: 0.14em;
    font-weight: 700;
  }
}

h3,
.sk-text--h3 {
  color: var(--sk-color-text);
  font-size: var(--sk-text--h3);
  line-height: var(--sk-line-height--h3);

  .single & {
    font-size: var(--sk-text-single--h3);
    line-height: var(--sk-line-height-single--h3);
  }
}

h4,
.sk-text--h4 {
  color: var(--sk-color-text);
  font-size: var(--sk-text--h4);
  line-height: var(--sk-line-height--h4);

  .single & {
    font-size: var(--sk-text-single--h4);
    line-height: var(--sk-line-height-single--h5);
  }
}

h5,
.sk-text--h5 {
  color: var(--sk-color-text);
  font-size: var(--sk-text--h5);
  line-height: var(--sk-line-height--h5);

  .single & {
    font-size: var(--sk-text-single--h5);
    line-height: var(--sk-line-height-single--h5);
  }
}

h6,
.sk-text--h6 {
  color: var(--sk-color-text);
  font-size: var(--sk-text--h6);
  line-height: var(--sk-line-height--h6);

  .single & {
    font-size: var(--sk-text-single--h6);
    line-height: var(--sk-line-height-single--h6);
  }
}

.sk-subheading {
  font-size: var(--sk-text--h6);
  color: var(--sk-color-text-subtle);
}

small,
.sk-text--xs {
  font-size: var(--sk-text--xs);
  font-family: var(--sk-font-secondary);
}

.sk-text--2xs {
  font-size: var(--sk-text--2xs);
}

p {
  line-height: var(--sk-line-height--body);
  font-family: var(--sk-font-secondary);

  &:only-child {
    margin-bottom: 0;
  }

  .single & {
    margin-bottom: 20px;

    @include breakpoint-down(sm) {
      margin-bottom: 14px;
    }
  }

  .wp-block-group &,
  .content-wrapper > & {
    margin-bottom: 20px;

    @include breakpoint-down(sm) {
      margin-bottom: 14px;
    }
  }

  .wp-block-group > &,
  .content-wrapper > & {
    color: var(--sk-color-primary);
  }

  &:empty {
    margin-bottom: 0;
  }
}

a {
  color: var(--sk-color-link);
  text-decoration: none;
  @include transition;

  @include on-event {
    color: var(--sk-color-link);
    text-decoration: underline;
  }
}

.sk-link {
  @extend a;
  text-decoration: underline;
  color: var(--sk-color-text);
  font-weight: 500;
  font-size: 20px;
  line-height: (34/20);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  margin: 0;
}

hr {
  width: 100%;
  background: transparent;
  margin: 30px 0;
  border: none;
  border-top: 1px solid var(--sk-color-text);

  &.sk-hr-dashed {
    border-top-style: dashed;
  }
}
